
.masterDiv {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;

}

table {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

td {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	padding: 8px;
}

tr:nth-child(2n) {
	background: #ffe;
}

tr:nth-child(2n+1) {
	background: #ffd;
}

.table-header-cell {
	font-weight: bold;
}